{% extends "homepage.html" %} {% block content %}
<div style="text-align: center">
  <h2>{{name}} som kör för {{klubb}}</h2>
</div>
<div class="container">
  <div style="height: 50vh; width: 50%"><h2>Test!!!!!</h2></div>
  <div style="height: 50vh; width: 50%">
    <a
      href="{{ url_for('profil', id=id, name=name, klubb=klubb, placement='placement') }}"
      class="btn btn-outline-secondary"
      >Placering</a
    >
    <a
      href="{{ url_for('profil', id=id, name=name, klubb=klubb, placement='elo') }}"
      class="btn btn-outline-secondary"
      >Rankning</a
    >
    {% if placement=='placement' %} {% include "placement/placementgraf.html" %}
    {% elif placement=='elo' %} {% include "placement/elograf.html" %} {% endif
    %}
  </div>
</div>
{% endblock %}
